CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Temp build/install dirs
_builds/*
_install/*

# IDE project files
.idea/
.vs/
cmake-build-debug/
EmileAounsStuff

# Executables
bin/

# macOS
.DS_Store
